@*@{
    ViewBag.Title = "ForumList";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Community Portal</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angular")
    <base href="/">

</head>
<body ng-app="commPortalApp">
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Community Portal</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/Forum/ForumList">Forum</a></li>
                    <li><a href="/NewsFeed/NewsFeed">News Feed</a></li>
                    <li><a href="/Role/UserList">Manage Users</a></li>
                    <li>
                        <a href="@Url.Action("ReadPrivateMessage", "Forum")">
                            <span class="glyphicon glyphicon-envelope @((bool)Session["HasMail"] == true ? "hasMailIcon" : "normalMailIcon")"></span> Mail
                        </a>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div ng-view></div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Community Portal</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @*@RenderSection("scripts", required: false)*@
@*</body>
</html>*@





@*<div ng-app="commPortalApp">
    <div ng-view></div>
</div>*@*@


