<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Code Community</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angular")
    <base href="/">

</head>
<body ng-app="commPortalApp" ng-controller="MainController">
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Code Community", "Home", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/Forum/Forum">Forum</a></li>
                    <li><a href="/NewsFeed/NewsFeed">News & Events</a></li>
                    <li>
                        <a href="/Mail/Mail">
                            @*<span class="glyphicon glyphicon-envelope @((bool)Session["HasMail"] == true ? "hasMailIcon" : "normalMailIcon")"></span> Mail</a>*@
                            <span class="glyphicon glyphicon-envelope" ng-class="hasNewMail ? 'hasMailIcon' : 'normalMailIcon'" ></span> Mail
                        </a>
                    </li>
                    @if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
                    {
                        <li><a href="/Admin/Admin">Admin</a></li>
                    }


</ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <div><div ng-view></div></div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Code Community</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
